-surveySection = surveySection
.grid_12
  .widget.minimizable
    %header
      .icon
        %span.icon{:'data-icon'=>'ui-text-field-medium'}
      .title
        %h2
          =surveySection.title
    .content
      Something interesting here